version: "3.8"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: toxic
      POSTGRES_PASSWORD: toxic
      POSTGRES_DB: toxicdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    environment:
      DATABASE_URL: postgresql+psycopg2://toxic:toxic@db:5432/toxicdb
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  pgdata:
