pandas==2.2.2
scikit-learn==1.5.1
fastapi==0.115.0
uvicorn[standard]==0.30.6
joblib==1.4.2
pytest==8.3.2
httpx==0.27.2
pydantic==2.9.0
pre-commit==3.8.0
matplotlib==3.9.2
seaborn==0.13.2
emoji==2.13.2
beautifulsoup4==4.12.3
